*{
    margin: 0;
}

img {
    width: 150px;
    border-radius: 50%;
    padding: auto;
    /* margin-left: 150px;
    margin-top: 100px; */
}

.be{
    background-color: black;
    text-align: center;
    color: white;
}

.be2{
    /* margin-left: 390px; */
}